@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: auto;
}
body {
  background-color: #f7a8e3;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  padding: 1rem;
  font-size: 1.5rem;
}
.header h1 {
  display: none;
}
.header img {
  height: 15vw;
  width: 100%;
  object-fit: cover;
}

.header {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

.navbar {
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #ffccff;
  width: 100vw;
}

.nav-list {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.nav-list :link {
  text-decoration: none;
  color: black;
}

.nav-list :visited {
  text-decoration: none;
  color: black;
}

.nav-list :hover {
  text-decoration: none;
  color: white;
}

.nav-list :active {
  text-decoration: none;
}
.review-cat-title {
  margin: 10px;
  font-family: "Montserrat";
}
.allReviews {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.reviewsList {
  width: 90%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.reviewsListText {
  position: absolute;
  left:0;
  bottom: 0;
  background-color: rgb(126, 10, 241);
  width: 100%;
  opacity: 75%;
  color: white;
  padding-bottom: 10px;
}

.reviewsListText h3 {
  font-size: 12px;
  margin: 5px;
}

.reviewsList img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.reviewCard {
  width: 100%;
  position: relative;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-title {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: inline-block;
  font-size: 14px !important;
}

button {
  background-color: #de06ffae;
  color: #0f0e17;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Montserrat";
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.dropdown p {
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 150px !important;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, #eecda3, #ef629f);
  opacity: 100%;
  left: -45px;
  margin: 23px;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.link-cat {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.link-cat:hover {
  background: purple;
  opacity: 50%;
  color: white;
}

.link-btn {
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

/* single-review 
====================================*/

.single-review {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px auto;
  background-color: rgb(230, 237, 243);
}

.single-review img {
  width: 100%;
  height: 10%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
}

.singleReviewText {
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
  background-color: aliceblue;
  width: 100%;
  font-size: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
}
.singleReviewText h2 {
  font-size: 20px;
  margin: 20px 10px;
  color: rgb(88, 5, 77);
}
.singleReviewText h3 {
  font-size: 16px;
  margin: 20px 10px;
  color: rgb(88, 5, 77);
}
.singleReviewText p {
  font-size: 14px;
  padding: 0 10px;
  text-align: justify;
  line-height: 1.5;
  margin: 20px 10px;
}

.vote-btn {
  margin: 10px;
}

.upvote {
  background-color: #9cf1bb;
  border-radius: 100px;

  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.upvote:hover {
  transform: scale(1.3) rotate(-1deg);
}

.upvote:disabled {
  transform: scale(1) rotate(0deg);
}

.downvote {
  background-color: #f9a694;
  border-radius: 100px;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.downvote:hover {
  transform: scale(1.3) rotate(-1deg);
}
.downvote:disabled {
  transform: scale(1) rotate(0deg);
}

.posted {
  color: rgb(88, 5, 77);
}

.loading {
  margin-top: 20%;
  width: 40px;
  height: 26px;
  --c: linear-gradient(currentColor 0 0);
  background: var(--c) 0 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 8px calc(100% - 4px);
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 4em;
}
.loading:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  left: 0;
  top: 0;
  animation: db3-1 1.5s linear infinite alternate,
    db3-2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
  text-align: center;
}

@keyframes db3-1 {
  100% {
    left: calc(100% - 8px);
  }
}

@keyframes db3-2 {
  100% {
    top: -0.1px;
  }
}

.review-comments {
  padding: 0;
}

.comments-list {
  list-style: none;
  margin: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  margin: 1rem;
}

.comments-list p {
  margin-bottom: 20px;
}

.commentCard {
  padding: 1rem;
  border-style: solid;
  box-shadow: 0px 0px 10px #000;
  margin: 1rem;
}

.comments-btn {
  outline: none;
  background-color: none;
}

.deleteBtn {
  display: block;
  margin: 12px auto 0 auto;
}

textarea {
  width: 98%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: "Montserrat";
}

.voteContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 550px) {
  .reviewCard {
    width: 45%;
    height: 40vw;
    margin: 10px 0;
}}

@media screen and (min-width: 750px) {
  .single-review {
    width: 70%;
  }
.reviewCard {
  width: 40%;
 height: 35vw;
 margin: 20px 0;
}

  .navbar {
    padding: 15px 0;
  }

  .nav-list {
    justify-content: center;
  }

  .nav-list div {
    width: 90px;
    margin: 0 30px;
    font-size: 18px;

  }
}

@media screen and (min-width: 900px) {
  .single-review{
    width: 630px;
  }
  
}

@media screen and (min-width: 1000px) {
  .reviewCard {
    width: 30%;
    height: 300px;
    margin: 20px 0;
  }

  .allReviews {
    width: 1000px;
  }
}
